.container {
  width: 100%;
  height: 100%;

  .top {
    width: 100%;
    height: 100%;
    background-color: #c42c32;
    box-sizing: border-box;

    & > :first-child {
      height: 100%;
      padding: 0 40px;
      padding-top: 15px;
      box-sizing: border-box;
      width: 100%;
      h4 {
        height: 40px;
        line-height: 40px;
        font-family: PingFangSC-Medium;
        font-size: 30px;
        color: #c7deff;
      }
      & > div {
        height: 100%;
        width: 100%;
        line-height: 30px;
        box-sizing: border-box;
        padding: 20px 30px;
        border-radius: 14px 14px 0 0;
        border: 6px solid #ff9b9f;
        border-bottom: none;
        font-family: PingFangSC-Regular;
        font-size: 25px;
        background-color: #fff;
        color: #333;
        position: relative;
        & > :first-child {
          color: #1677ff;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 20px;
          div {
            width: 158px;
            height: 46px;
            line-height: 46px;
            border: 1px solid #1677ff;
            border-radius: 23px;
            font-family: PingFangSC-Regular;
            font-size: 25px;
            color: #1677ff;
            text-align: center;
          }
        }
        .jd {
          width: 100%;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          font-family: HelveticaNeue;
          font-size: 17px;
          color: #999999;
          text-align: left;
          padding-bottom: 10px;
          .van-progress {
            width: 90%;
          }
        }
        p {
          padding-bottom: 15px;
          line-height: 30px;
        }
        h3 {
          height: 35px;
          width: 100%;
          font-family: PingFangSC-Medium;
          font-size: 25px;
          color: #333333;
          font-weight: bold;
        }
        .jc {
          width: 100%;
          height: 100%;
          div {
            height: 35px;
            display: flex;
            justify-content: space-between;
            padding-right: 20px;
            align-items: center;
            padding-bottom: 15px;
            font-family: PingFangSC-Regular;
            font-size: 25px;
            color: #333333;
            p {
              padding-bottom: 0;
            }
          }
        }
        .abs {
          position: absolute;
          right: 40px;
          bottom: 15px;
        }
      }
    }

    & > :last-child {
      background: #c42c32;
      width: 100%;
      height: 240px;

      & > :first-child {
        padding: 0 80px;
        padding-top: 16px;
      }

      & > :last-child {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        div {
          width: 160px;
          height: 160px;
          font-family: PingFangSC-Regular;
          font-size: 26px;
          color: #ffffff;
          text-align: center;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          row-gap: 6px;
          position: relative;
          p:last-child {
            font-family: PingFangSC-Regular;
            font-size: 17px;
            color: #ffcbcd;
          }
          .active::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 76px;
            width: 20px;
            height: 3px;
            background-color: #eee;
            border-radius: 6px;
          }

          img {
            width: 40px;
          }
        }
      }
    }
  }

  .bottom {
    height: 100%;
    width: 100%;
    padding: 22px;
    box-sizing: border-box;

    .wrap-bottom {
      width: 100%;
      height: 100%;
      padding: 28px;
      background-color: #fff;
      box-sizing: border-box;
      margin-bottom: 22px;
      h2 {
        height: 45px;
        font-family: PingFangSC-Medium;
        font-size: 32px;
        color: #4c4c4c;
        letter-spacing: 0;
        font-weight: bolder;
        padding-bottom: 20px;
      }
      p {
        font-family: PingFangSC-Regular;
        font-size: 25px;
        color: #888888;
        text-align: left;
        padding-bottom: 15px;
      }
      div {
        display: flex;
        justify-content: flex-start;
        img {
          width: 104px;
        }
      }
      :last-child {
        font-family: PingFangSC-Regular;
        font-size: 25px;
        color: #888888;
        text-align: left;
        padding-bottom: 0;
        span {
          padding-right: 15px;
        }
      }
    }

    .bot-foxed {
      width: 100%;
      height: 100%;
      // background-color: #fff;

      .foxed {
        width: 100%;
        height: 83px;
        background-color: #f5f5f5;
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
        position: fixed;
        bottom: 0px;
        right: 0px;
        padding: 0 12px;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          // row-gap: 5px;
          justify-content: center;

          img {
            height: 50px;
          }

          p {
            margin-top: 5px;
            font-size: 12px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #999999;
            line-height: 15px;
          }
        }
      }
    }

    .pyq {
      padding: 12px;
      background: #ffffff;
      border-radius: 4px;
      margin-top: 8px;

      h3 {
        font-family: PingFangSC-Medium;
        font-size: 15px;
        color: #333333;
        text-align: justify;
        line-height: 20px;
        margin-bottom: 12px;
      }

      .imgBox {
        .imgs {
          height: 75px;
          margin-bottom: 6px;
          width: 75px;
          margin-right: 6px;

          // &:nth-child(4n-4) {
          //   margin-right: 0;

          // }
        }
        &.four {
          .imgs {
            &:nth-child(4n-4) {
              margin-right: 0;
            }
          }
        }
        &.three {
          .imgs {
            width: 101px;

            &:nth-child(3n-3) {
              margin-right: 0;
            }
          }
        }
      }

      p.intr {
        font-family: PingFangSC-Regular;
        font-size: 13px;
        color: #999999;
        line-height: 18px;
        overflow: hidden;
        word-break: break-all;
        &.all {
          height: auto;
        }
        &.normal {
          max-height: 74px;
        }
      }

      .btns {
        line-height: 16px;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #1582ff;
        margin-bottom: 8px;
        margin-top: 5px;
      }

      .recordName {
        p {
          line-height: 18px;
          font-family: PingFangSC-Regular;
          font-size: 13px;
          color: #999999;
        }
      }
    }
  }
}
.delete-button {
  height: 100%;
}

/deep/.van-nav-bar {
  background-color: #c42c32;

  .van-nav-bar__title {
    color: #fff;
  }
}

/deep/ .van-nav-bar .van-icon {
  color: #fff;
}

/deep/.van-divider {
  color: #fff;
  margin: 0;
  background-color: transparent;
}
