$family: PingFangSC-Regular;
.container {
  width: 100%;
  height: 100%;
  .main {
    width: 100%;
    height: 100%;
    padding-left: 17px;
    box-sizing: border-box;
    background-color: #fff;
    @mixin fontStyle {
      font-family: $family;
      font-size: 24px;
      color: #666666;
    }
    &-common {
      height: 72px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eee;
      :first-child {
        font-family: $family;
        font-size: 28px;
        color: #333333;
        font-weight: 600;
        padding-right: 30px;
      }
      :last-child {
        @include fontStyle;
      }
    }
    /* :first-child {
      p:first-child {
        padding-right: 80px;
      }
    } */
    &-wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
      :first-child {
        padding: 10px 0;
        font-family: $family;
        font-size: 28px;
        color: #333333;
        font-weight: 600;
      }
      :last-child {
        padding-right: 17px;
        @include fontStyle;
      }
    }
  }
}
/deep/.van-nav-bar {
  background-color: #c42c32;
  .van-nav-bar__title {
    color: #fff;
  }
}
/deep/ .van-nav-bar .van-icon {
  color: #fff;
}
