.container {
  width: 100%;
  height: 100%;
  .top {
    width: 100%;
    height: 100%;
    background-color: #c42c32;
    box-sizing: border-box;
    & > :first-child {
      height: 100%;
      padding: 0 40px;
      padding-top: 40px;
      box-sizing: border-box;
      width: 100%;
      h4 {
        height: 40px;
        line-height: 40px;
        font-family: PingFangSC-Medium;
        font-size: 30px;
        color: #c7deff;
      }
      & > div {
        height: 100%;
        width: 100%;
        line-height: 30px;

        box-sizing: border-box;
        /* display: inline-flex;
        justify-content: space-around;
        flex-direction: column; */
        padding: 20px 50px;
        border-radius: 14px 14px 0 0;
        border: 4px solid #ff9b9f;
        border-bottom: none;
        font-family: PingFangSC-Regular;
        font-size: 30px;
        background-color: #fff;
        color: #333;
        position: relative;
        & > :first-child {
          color: #1677ff;
        }
        p {
          padding-bottom: 20px;
          line-height: 36px;
        }
        .abs {
          position: absolute;
          right: 40px;
          bottom: 20px;
        }
      }
    }
  }

  .bottom {
    width: 100%;
    height: 100%;
    // background-color: #fff;
    & > :first-child {
      padding-top: 20px;
      padding-bottom: 83px;
      width: 100%;
      height: 170px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 10px;
      :nth-child(2) {
        height: 25px;
        font-size: 18px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #333333;
        line-height: 25px;
        padding-top: 10px;
      }
      :nth-child(2) + p {
        font-size: 13px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;
      }
    }

    .bot-foxed {
      width: 100%;
      height: 100%;
      // background-color: #fff;

      .foxed {
        width: 100%;
        height: 83px;
        background-color: #f5f5f5;
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
        position: fixed;
        bottom: 0px;
        right: 0px;
        padding: 0 12px;
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          // row-gap: 5px;
          justify-content: center;
          img {
            height: 50px;
          }
          p {
            margin-top: 5px;
            font-size: 12px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #999999;
            line-height: 15px;
          }
        }
      }
    }
  }
}

/deep/.van-nav-bar {
  background-color: #c42c32;

  .van-nav-bar__title {
    color: #fff;
  }
}
/deep/ .van-nav-bar .van-icon {
  color: #fff;
}

/deep/ .van-steps {
  background-color: transparent;
}
/deep/ .van-step__icon--active {
  color: #1677ff;
  font-size: 18px;
}

/deep/.van-step--vertical {
  .van-step__circle-container {
    top: 26px;
  }
}
/deep/[class*="van-hairline"]::after {
  border: none;
}
